# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Editor folders
.vscode/
.idea/

# Mac OS files
.DS_Store

# Build directories
/dist
/build

# Cache files
.cache/ 